.sessiongrid {
    display: grid;
}

.main {
    display: grid;
    height: 850px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1.5fr 1fr;
    grid-template-areas: 
    ". task task ."
    "study study xp xp"
    ". tip tip .";

}

#sessiontitle {
    grid-area: header;
    place-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background: grey;
}

#task {
    grid-area: task;
    margin: 1rem;
    padding: 1rem;
    background: grey;
}

#stimer {
    grid-area: study;
    margin: 1rem;
    padding: 1rem;
    background: grey;
}

#exp {
    grid-area: xp;
    margin: 1rem;
    padding: 1rem;
    background: grey;
}

#tips {
    grid-area: tip;
    margin: 1rem;
    padding: 1rem;
    background: grey;
}