.SettingsGrid {
  display: grid;
  grid-template-rows: 0.5fr;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "notification";
}

body {
  background-color: rgb(236, 236, 236);;
}

.SettingsNav {
  grid-area: header;
  place-items: center;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

#SettingsContent {
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

#SettingsContent h2{
  margin-bottom: 5em;
}

#SettingsContent div {
  margin: 0.5em;
  height: 5vh;
  justify-content: center;
  border-style: solid;
  border-color: rgb(233, 233, 233);
  border-radius: 0.5em;
  background-color: white;
}

#SettingsContent a:link {
  text-decoration: none;
}

#SettingsContent a:hover{
  color: violet;
  text-decoration: none;
}

#SettingsContent a:visited {
  text-decoration: none;
}

#SettingsContent a:active {
  text-decoration: none;
}
