.sessionGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
  }
  
#session-header {
    grid-row: 1;
}

#time-selector {
    justify-self: center;
}

input[type="number"] {
    width: 20%;
}

  body {
    background-color: rgb(255, 235, 217);;
  }